$defaultFont: Arial, Helvetica, sans-serif;
$bgHeader: hsl(0, 0%, 0%);
$bgBody: #1B1D1E;
$colorFont: hsl(0, 0%, 100%);
$accent-color: #C13800;
$second_color: #5E6D70;

$harmony01_primary_color: #1B1D1E;
$harmony01_second_color: #C13800;
$harmony01_third_color: #5E6D70;

$harmony02_primary_color: #010101;
$harmony02_second_color: #A60311;
$harmony02_third_color: #ABC5CF;

$harmony03_primary_color: #0D0D0D;
$harmony03_second_color: #D97016;
$harmony03_third_color: #BF9663;

$harmony04_second_color: #F27405;
$harmony04_third_color: #F29D7E;

$background_gradient: rgb(40,36,36) radial-gradient(circle, rgba(40,36,36,1) 0%, rgba(64,71,73,1) 100%);